.gradle/
.idea/
homework1/build/
homework2/build/
homework3/build/
homework4/build/
homework5/build/
homework6/build/
homework7/build/
homework8/build/
homework9/build/
homework10/build/
homework11/build/
homework12/build/
homework13/build/
homework13/db/.env
