<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
         id="WebApp_ID" version="4.0">

    <display-name>Archetype Created Web Application</display-name>

    <servlet>
        <servlet-name>AddServlet</servlet-name>
        <servlet-class>ru.otus.jee.servlets.AddServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>AddServlet</servlet-name>
        <url-pattern>/add</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>SubtractServlet</servlet-name>
        <servlet-class>ru.otus.jee.servlets.SubtractServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>SubtractServlet</servlet-name>
        <url-pattern>/subtract</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>MultiplyServlet</servlet-name>
        <servlet-class>ru.otus.jee.servlets.MultiplyServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>MultiplyServlet</servlet-name>
        <url-pattern>/multiply</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>DivServlet</servlet-name>
        <servlet-class>ru.otus.jee.servlets.DivServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>DivServlet</servlet-name>
        <url-pattern>/div</url-pattern>
    </servlet-mapping>

</web-app>